@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {

    .landing-img{
      display: none;
    }
    .logo{
      width: 80px;
    }
    .mobile-img{
      width: 330px;
      padding: 20px;
      margin-top: 10px;
    }

    h1{
      font-size: 16px;
    }

    }
