$white: whitesmoke; //bg color
$primary: #97BE86;  //light green color
$secondary:#2f3c8b; //dark blue
$light: #b2c0d6; //light blue
$dark: #293688;  //dark green
$info: #ECD979; //yellow
$success: #F26859; //pink
$display1-size : 5rem;
$display2-size : 4rem;
$display3-size : 3rem;
$display4-size : 2rem;
$headings-font-family : "Oxygen";
$spacer: 2rem !default; //margin and padding overall spacing size

@import 'landing';
@import 'gallery';
@import 'cards';
@import 'mixins';
@import "../bootstrap-4.5.3/scss/bootstrap.scss";
@import 'map';


@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1{
  @include headings-type (48px,700,left,$secondary);
}

h2{
  @include headings-type (48px,700,center,$info);
}

h3{
  @include headings-type (24px, 700,left,$secondary);
}

p{
  @include headings-type (16px,700,left,$secondary);
}


.fa-route{
  height: 100px;
  width: 100px;
}

@media only screen and (min-width: 376px) {
  .mobile-img {
    display: none;
  }

  .mapImageSmall{
    display: none;

  }

  .mobile{
    display: none;
  }

}

@media only screen and (max-width: 376px) {
  .mapImage{
    display: none;
  }

}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $white;
  opacity: 1; /* Firefox */
}



.card{ transition: all .2s ease-in-out; }
.card:hover { transform: scale(1.1); }
.card{
border: none;
}

.myOwnModal{
  width: 100%;
}


// #right-panel {
//    font-family: "Roboto", "sans-serif";
//    line-height: 30px;
//    padding-left: 10px;
//  }
//
//  #right-panel select,
//  #right-panel input {
//    font-size: 15px;
//  }
//
//  #right-panel select {
//    width: 100%;
//  }
//
//  #right-panel i {
//    font-size: 12px;
//  }
//
//  html,
//  body {
//    height: 100%;
//    margin: 0;
//    padding: 0;
//  }
//
//  #map {
//    height: 100%;
//    float: left;
//    width: 70%;
//    height: 100%;
//  }
//
//  #right-panel {
//    margin: 20px;
//    border-width: 2px;
//    width: 20%;
//    height: 400px;
//    float: left;
//    text-align: left;
//    padding-top: 0;
//  }
//
//  #directions-panel {
//    margin-top: 10px;
//    background-color: #ffee77;
//    padding: 10px;
//    overflow: scroll;
//    height: 174px;
//  }
